.comparison-table {

	&__header {
		margin-bottom: 3rem;

		@include above (sm) {
			margin-bottom: 6rem;
		}
	}

	&__item {

		@include below (sm) {
			width: 100%;

			&:first-child {
				
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					width: calc(100% - 2rem);
					background: $green;
					height: 2px;
					left: 1rem;
				}
			}

			&:last-child {
				padding-top: 1.5rem;
			}
		}

		@include above (sm) {

			&:first-child {
				border-right: $green 2px solid;
			}
		}

		p {
			line-height: 1.8;
		}
	}

	&__title {
		margin-top: 0;
	}
}