.contact {

	&__header {
		margin-bottom: 3rem;
		margin-top: 0;
	}

	&__form {
		display: none;
		transition: all ease .6s;
		position: relative;
		margin-top: 3rem;

		&.is-active {
			transition: all ease .6s;
			display: block;
			animation: fade-in .6s;
			animation-iteration-count: 1;
		}
	}
	
	&__btn {
		outline: none;

		&.is-active {
			background: $green;
			color: $white!important;
		}

		@include below (sm) {
			margin-top: .5rem;
			margin-bottom: .5rem;
		}

		@include above (sm) {

			& + & {
				margin-left: 1rem;
			}
		}

		&:hover {
			color: $white!important;
		}
	}

	&__info {

		@include below (sm) {
			padding-bottom: .5rem;
		}

		h1, h2,
		h3, h4,
		h5, h6 {
			margin-top: 0;
		}

		span {
			color: $green;
		}

		a {
			color: $color-font-body;
			transition: all ease .3s;

			&:hover {
				color: $green;
			}
		}
	}
}