.cta {
	background-repeat: no-repeat;
	background-position: center center;

	&__header {
		margin-top: 0;
		margin-bottom: 2rem;
	}

	&__item {

		p {
			margin-bottom: 0;
		}
	}

	&__btn {
		margin-top: 3rem;
		padding: .7rem 3.5rem;
	}
}