.download {

	&__header {
		margin-top: 0;
		margin-bottom: 3rem;
	}

	&__item {
		border-radius: 5px;
		padding: 2.5rem;
		border: $green 2px solid;
		position: relative;
		color: $color-font-body;
		transition: all ease .3s;
		margin-top: 1rem;
		margin-bottom: 1rem;

		@include below (sm) {
			margin: 1rem;
			padding: 1.5rem;
		}

		&:before {
			background: $green;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 100%;
			transition: all .3s;
			transition-timing-function: $easeInOutFast;
			z-index: -1;
		}

		&:hover {
			color: $white;

			&:before {
				width: 100%;
			}
		}
	}
}