.footer {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__title {
		position: relative;
		display: inline-block;
		padding-bottom: .5rem;
		margin-bottom: 2rem;

		&:before {
			width: 100%;
			bottom: 0;
			position: absolute;
			height: 2px;
			background: $green;
			content: '';
		}
	}

	&__item {
		
		p {

		}

		strong {
			font-weight: 600;
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $green;
			}
		}
	}
}
