//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
		text-align: center;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;
		padding: .8rem 2.5rem!important; //add important for ie 11 fix

		@include below (sm) {
			line-height: 1.5!important;
		}

		@extend .btn, .btn--green;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: transparent;
		border: 1px solid $green;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: .25em;
		margin-left: auto;
		margin-right: auto;
		color: $color-font-body;
		border-radius: 0px;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {
			outline: none;
		}
	}
}

.gsection {
	margin-top: 0!important;	

	&_title {
		font-weight: 500!important;
    	opacity: .5;
	}
}

.gf_left_half, .gf_right_half {
	@media (min-width: 640px) {
		width: calc(50% - .5rem)!important;
		margin-bottom: 1rem!important;
		margin-top: 0!important;
	}
}

.gf_left_half {
	@media (min-width: 640px) {
		margin-right: 1rem;
	}
}



/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

input::placeholder {
	color: $color-font-body;			
}

textarea::placeholder {
	color: $color-font-body;			
}