.header {
	position: relative;
	background: $white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	&__container {
		@include between (sm, md) {
			flex-direction: column;
		}
	}

	&__logo {
		display: block;
		float: left;

		@include between (sm, md) {
			margin-bottom: 1.5rem;
		}

		img {
			width: 150px;
			height: 101px;

			@include above (md) {
				width: 200px;
				height: 135px;
			}
		}
	}
}