.home {

	&__item {
		padding: 1rem;
		border-radius: 5px;
		border: $green 2px solid;
		position: relative;
		color: $color-font-body;
		transition: all ease .3s;
		display: block;
		margin-top: 1rem;
		margin-bottom: 1rem;

		@include below (sm) {
			margin: 1rem;
		}

		@include above (sm) {
			padding: 2.5rem;
		}

		&:before {
			background: $green;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 0;
			height: 100%;
			transition: all .3s;
			transition-timing-function: $easeInOutFast;
			z-index: -1;
		}

		&:hover {
			color: $white;

			&:before {
				width: 100%;
			}

			.home__btn {

				&:before {
					background: $white;
				}
			}
		}
	}

	&__title {
		margin-top: 0;
	}

	&__thumb {
		background: no-repeat center center;
		background-size: cover;
		height: 100%;
		top: 0;

		@include below (sm) {
			min-height: 10rem;
			width: 100%;
			top: 1rem;
			position: relative;
		}

		@include above (sm) {
			position: absolute;
			right: 0;
		}
	}

	&__btn {
		font-weight: 500;
		position: relative;
		display: inline-block;

		&:before {
			position: absolute;
			bottom: 0;
			width: 100%;
			background: $green;
			height: 2px;
			content: '';
			transition: all ease .3s;
		}
	}
}
