/********************LAYOUTS********************/

/* Base Styles */

.green--bg, .gray-dark--bg {
  color: $white;
}

.green--bg {
    .fas {
    color: $green-dark;
  }
}


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
    margin-top: 0;
  }

  &__col {

    a:not(.btn) {
      color: $green;
    }
	
	@include above (sm) {
  		&.first {
  			p:last-child {
			margin-bottom: 0;
			}
  		}
  	}
	
	&.last {
		p:last-child {
			margin-bottom: 0;
		}
	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 5rem;
    }

    &--bottom {
      padding-bottom: 5rem;
    }

    &--both {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}