.link-boxes {
 
	&__header {
		margin-bottom: 2rem;

		@include below (sm) {
			margin-top: 0;
		}
	}

	&__item {
		box-shadow: 0px 0px 18px rgba($black, .19);
		border-radius: 5px;
		margin: 1rem;

		@include above (sm) {
			width: calc(50% - 2rem);
		}

		@include above (md) {
			width: calc(25% - 2rem);
		}
	}

	&__wrapper {
		position: relative;
		width: calc(100% + 2rem);
		left: -1rem;
		overflow: hidden;
		border-radius: 5px 5px 0px 0px;
		background: $gray;
	}

	&__img {
		opacity: .6;
	}

	&__title {
		position: absolute;
		left: 1rem;
		bottom: 0;
		color: $white;
	}

	&__content {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	&__links {
		color: $color-font-body;
		transition: all ease .3s;
		display: flex;
		hyphens: auto;
		padding-bottom: .2rem;

		&:hover {
			margin-left: .5rem;
		}

		span {
			color: $green;
			font-weight: 700;
			transition: all ease .3s;
			margin-right: .5rem;
		}
	}
}