.map {

	&__item {

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__pin {
		fill: $green;
		opacity: 1;
		transition: all ease .3s;
		stroke: $green;

		&.is-active {
  	    	animation: pulse;
      		animation-timing-function: ease-out;
      		animation-duration: 1.2s;
      		animation-iteration-count: infinite;
		}
	}
}