/**
 * Navigation
 **/

.nav {

	/**
	 * Mobile menu panel
	 **/

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		
		@include above (sm) {
			float: left;
			display: inline-block;
		}


		&.is-dropdown {

			@include above (sm) {
				&:hover {
					.nav__dropdown {
						display: block!important;
					}
				}
			}
		}

		&.is-active > a {
			color: $green;
		}
	}


	&__link {
		color: $white;
		font-weight: 500;
		position: relative;
		transition: all ease .3s;
		padding: .5rem 1rem;

		@include below (sm) {
			display: block;
		}

		@include between (sm, md) {
			font-size: 14px;
		}

		@include above (sm) {
			padding: 1rem .5rem;
			color: $color-font-body;
		}

		&:hover {
			color: $green;
		}
		
		.fas {
			color: $green;
			margin-left: .5rem;
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		position: relative;
		top: 100%;
		background: $gray;

		@include above (sm) {
			background: $white;
			position: absolute;
		}

		&.is-visible {
			display: block;
		}

		.is-dropdown--submenu {
			width: 100%;
			margin-bottom: 1rem;
		}

		.is-dropdown--submenu > .nav__dropdown {
			display: block;	
			position: relative;
			margin-top: 0;
			padding-left: 1rem;

			&-trigger {
				font-weight: 600;
				pointer-events: none;

				@include above (sm) {
					color: $gray!important;
				}

				i, &:before {
					display: none;
				}
			}

			.nav__item {
				float: none;
			}
		}

		&-trigger {

		}

		.nav__item {
			padding: 0;
			display: block;
			float: none;

			@include above (sm) {
				float: left;
			}

			&.is-active > a {
				&:before {
					width: calc(100% - 2rem);
					left: 1rem;
				}
			}
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;
			display: inline-block;
			

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 133px;
			right: 0;
			height: calc(100% - 133px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $gray;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed	
			@at-root {
				body.is-fixed {
					@include below (sm) { 
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $black;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $black;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}