.page {
	
	&__hero {
		position: relative;
		background: no-repeat center center url('../img/konflikthuset_circle.svg');
		background-size: cover;
		@include overlay();
		overflow: hidden;
		padding-top: 2rem;
		padding-bottom: 2rem;

		@include above (sm) {
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}

		@include above (md) {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		@include above (lg) {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}  

	&__mask {
		mask: url('../img/konflikthuset_circle_mask.svg') no-repeat;
		mask-type: alpha; 
		mask-size: 320px;
  		mask-position: center;
  		width: 100%;
  		height: 100%;
  		position: absolute;
  		top: 0;
  		background-size: cover;

  		@include above (sm) {
  			mask-size: 450px;
  		}
	}

	&__title, &__breadcrumbs {
		position: relative;
		z-index: 10;
		margin-top: 0;
		margin-bottom: 0;
	}

	&__title {
		color: $white;
	}

	&__breadcrumbs {
		color: $green;
		margin-top: 1.5rem;

		.breadcrumb_last {
			color: $white;
		}

		a {
			color: $white;
		}

		&--links {

			&--2, &--3 {
				pointer-events: none;
			}
		}
	}
}

