.quote {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	@include above (lg) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	&__item {

		.fas {
			font-size: 80px;
			position: absolute;
			z-index: 0;
			top: -1rem;
			left: 50%;
			transform: translateX(-50%);

			@include above (sm) {
				font-size: 89px;
				top: -1.5rem;
			}

			@include above (md) {
				font-size: 122px;
				top: -2rem;
			}

			@include above (lg) {
				font-size: 144px;
				top: -3rem;
			}
		}
	}

	&__text {
		margin: 0;
		font-style: italic;
		position: relative;
		z-index: 10;
		font-size: 20px;

		@include above (sm) {
			font-size: 22px;
		}

		@include above (md) {
			font-size: 24px;
		}

		@include above (lg) {
			font-size: 27px;
		}
	}
}