@keyframes pulse {
  0%   { 
	stroke-opacity: 0.3;
	stroke-width: 0px;
  }

  50% {
	stroke-width: 8px;
	stroke-opacity: 0.3;
  }

  100% { 
	stroke-width: 0px;
	stroke-opacity: 0.3;
  }
}

@keyframes fade-in {
  0% { 
  	opacity: 0;
  	left: -.5rem;
  }

  100% {
	opacity: 1;
	left: 0;
  }
}