.btn {
	display: inline-block;
	padding: .7rem 1.5rem;
	transition: all ease .3s;

	&--hollow {
		border-radius: 2.5rem;
		color: $white;

		&--green {
			border: 2px solid $green;

			&:hover {
				background: $green;
			}
		}

		&--white {
			border: 2px solid $white;	

			&:hover {
				background: $white;
				color: $green;
			}
		}
	}

	&--green {
		border-radius: 2.5rem;
		color: $white;
		background: $green;
	}
}