/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "gray-dark" $gray-dark, "green" $green, "green-dark" $green-dark;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value!important; 
  }

  .#{$label}--bg {
    background-color: $value;
  }
}
